.comment_box {
  color: white;
  overflow-wrap: anywhere;
  height: 65px;
}

.comments_box {
  position: absolute;
  bottom: 70px;
  left: 12px;
  display: flex;
  flex-direction: column-reverse;
  margin: 0px;
  padding: 0px;
  height: 40vh;
  width: 40%;
  list-style-type: none;
}

.top_comment {
  opacity: 0.3 !important;
}

.second_to_top_comment {
  opacity: 0.6;
}

.profile_picture {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.user_name {
  margin: 0;
  position: relative;
  top: -45px;
  left: 50px;
  font-weight: 550;
}

.user_message {
  margin: 0;
  position: relative;
  top: -40px;
  left: 50px;
  font-weight: 400
}